* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.container {
  width: 240px;
  background: tomato;
  height: 100vh;
  position: absolute;
  transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  border-right: 3px solid orange;
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    .logo {
      width: 80px;
    }
    button {
      height: 30px;
      width: 30px;
      background: #ffffff;
      border: none;
      transition: 0.1s;
      &:hover {
        cursor: pointer;
        background: rebeccapurple;
        color: #fff;
      }
    }
  }
  .menus {
    padding: 30px;
    ul {
      li {
        list-style: none;
        a {
          display: block;
          text-decoration: none;
          color: #fff;
          margin-bottom: 20px;
          font-size: 20px;
        }
        i {
          width: 20px;
          height: 20px;
          font-size: 20px;
          background-color: #ffffff;
          padding: 5px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          border-radius: 7px;
          color: tomato;
        }
      }
    }
  }
  .footer {
    left: 15px;
    bottom: 0;
    position: fixed;
    p {
      text-align: center;
      color: #fff;
    }
  }
}

.hide {
  width: 90px;
  .top {
    margin: auto;
    padding: 30px;
  }
  .logo {
    display: none;
  }
  .link-text {
    display: none;
  }

  .footer {
    display: none;
  }
}

.body-part {
  margin-left: 245px;
}

.body-canvas {
  margin-left: 100px;
}
